.product-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: .75rem;
  box-shadow: 0 0 15px #00000040;
  user-select: none;
}

.card-header {
  padding: 1rem 1.5rem;
  text-align: center;
}

.card-header img {
  max-height: 200px;
  border-radius: 0.25rem;
}

.product-title {
  font-size: 1.5rem;
  line-height: 1;
  color: #353535;
}

.product-status {
  color: #808080;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 500;
  color: #353535;
  margin: 1rem 0;
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}

.btn {
  padding: 10px 40px;
  border: none;
  font-family: inherit;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.btn-primary {
  background-color: #b34bf8;
  color: #fff;
}

.btn-secondary {
  color: #808080;
}

.card-footer .btn:first-child {
  margin-right: 15px;
}

.card-footer:hover {
  transform: translateY(-6px);
}
